* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Ensure MapLibre canvas fills container */
.maplibregl-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.maplibregl-canvas {
  outline: none;
}
